.view{
    padding: 20px;
    display: flex;
    flex-direction: column;

}
.inner-div{
    /* background-color: grey; */
    border-radius: none;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    
}

.job-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
  }
  .resumedownload{
    width:100% ;
  }
  .downloadButton{
    width:100% ;
  }
  
  .call-button {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    width: 70px;
  }
  .call-button:hover {
    background-color: #27d495;
  }
  @media (max-width: 768px) {
    .job-card {
      width: 90%;
    }
}