/* Common Styles */
/*.nav-wrapper {
  display: flex;
  
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: #fff;
  height: 61px;
}*/
.nav-wrapper {
  height: 100%;
  width: 100vw;
  background-color: black;
  display: flex;
  
  align-items: center; /* Center items horizontally */
  padding: 0 20px;
  color: white;
}
.nav-items {
  display: flex;
  justify-content: center; /* Center the navigation items */
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.list-items {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the items within the list */
  list-style: none;
  cursor: pointer;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.list-items,
.signin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
 
}
.icons {
  display: flex;
  justify-content: center; /* Center the icons */
  gap: 30px;
  list-style: none;
}

.list-items li,
.icons li,
.signin-wrapper li {
  margin: 0 1rem;
  
}

.button-style {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


.logout-div {
  
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 5px;
}
.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  margin-top: 10px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Hamburger Menu (Mobile View) */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.mobile-menu-open {
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-items {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu-open {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .list-items li,
  .icons li,
  .signin-wrapper li {
    margin: 0.5rem 0;
  }

  .list-items,
  .icons,
  .signin-wrapper {
    flex-direction: column;
    width: 100%;
  }
}
